<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <img src="/static/dog.jpeg" alt="">
    <br>
    <h1><%=name%></h1>
    <form action="/user/create" method="post">
        <input type="text" name="user">
        <input type="text" name="age">
        <button type="submit"> 提交</button>
    </form>
</body>

</html>